html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Project
    link(rel="stylesheet", href="css/main.min.css")
    script(src="js/main.min.js" defer) 
  body 
    .container 
      .wrapper 
        h1 Hello, World and Gulp!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, corporis delectus nostrum quasi quo quia omnis sint consequuntur aspernatur error!
      .image-wrapper
        img(src="img/screenshot03_vpn.png" alt="03")
        img(src="img/screenshot04_vpn.png" alt="04")
        img(src="img/screenshot01.png" alt="01")
        img(src="img/screenshot02.png" alt="02")
